@media (min-width: 1200px) {
  	.container {
    	width: 1200px;
 	}
 	/*home*/
	/*.h-home .r1 .f1 .f1-col1{width: 295px;padding-right: 0px;}
	.h-home .r1 .f1 .f1-col2{width: 843px;padding-left: 0px;margin-right: }*/


}